<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Reviews</h5>
            <h1 class="mb-0">นักฟุตบอลถึงกับเอ่ยปากพูดชมเว็บเรา</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.6s">
            <div class="testimonial-item bg-light my-4">
                <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                    <img class="img-fluid rounded" src="~/landingpage/img/testimonial-1.jpg" style="width: 60px; height: 60px;">
                    <div class="ps-4">
                        <h4 class="text-primary mb-1">Leonel Messi</h4>
                        <small class="text-uppercase">นักฟุตบอลมืออาชีพ</small>
                    </div>
                </div>
                <div class="pt-4 pb-5 px-5">
                    "Pakin.com เป็นแหล่งรวมอุปกรณ์ไอทีที่น่าเชื่อถือที่สุด ทุกครั้งที่ผมต้องการหาอุปกรณ์ใหม่ เว็บไซต์นี้ช่วยให้ผมเลือกสิ่งที่ดีที่สุดได้อย่างรวดเร็ว!"
                </div>
            </div>
            <div class="testimonial-item bg-light my-4">
                <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                    <img class="img-fluid rounded" src="~/landingpage/img/testimonial-2.jpg" style="width: 60px; height: 60px;">
                    <div class="ps-4">
                        <h4 class="text-primary mb-1">Neymar Jr</h4>
                        <small class="text-uppercase">นักฟุตบอลอาชีพ</small>
                    </div>
                </div>
                <div class="pt-4 pb-5 px-5">
                    "การใช้งานง่ายและมีสินค้าให้เลือกมากมาย Pakin.com ช่วยให้การซื้ออุปกรณ์ไอทีสะดวกขึ้นกว่าเดิม ไม่มีอะไรจะดีไปกว่านี้อีกแล้ว!"
                </div>
            </div>
            <div class="testimonial-item bg-light my-4">
                <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                    <img class="img-fluid rounded" src="~/landingpage/img/testimonial-3.jpg" style="width: 60px; height: 60px;">
                    <div class="ps-4">
                        <h4 class="text-primary mb-1">Cristiano Ronaldo</h4>
                        <small class="text-uppercase">นักฟุตบอลอาชีพ</small>
                    </div>
                </div>
                <div class="pt-4 pb-5 px-5">
                    "เว็บไซต์นี้ยอดเยี่ยมมาก ไม่ว่าจะเป็นเรื่องราคา การจัดส่ง หรือบริการหลังการขาย Pakin.com ทำให้ผมมั่นใจทุกครั้งที่สั่งซื้อ!"
                </div>
            </div>
            <div class="testimonial-item bg-light my-4">
                <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                    <img class="img-fluid rounded" src="~/landingpage/img/testimonial-4.jpg" style="width: 60px; height: 60px;">
                    <div class="ps-4">
                        <h4 class="text-primary mb-1">Kylian Mbappé</h4>
                        <small class="text-uppercase">นักฟุตบอลอาชีพ</small>
                    </div>
                </div>
                <div class="pt-4 pb-5 px-5">
                    "Pakin.com คือเว็บไซต์ที่ตอบโจทย์คนที่รักเทคโนโลยีแบบผมที่สุด ไม่ว่าจะเป็นสินค้าใหม่หรือโปรโมชั่นเด็ด ทุกอย่างอยู่ที่นี่ครบจบในที่เดียว!"
                </div>
            </div>
        </div>
    </div>
</div>