@page
@model CMM349FINAL.Views.Home.IndexModel

<!-- Facts Start -->
@await Html.PartialAsync("__FactCounter")
<!-- Facts Start -->
@await Html.PartialAsync("__Vendor")
<!-- Vendor End -->
<!-- About Start -->
@await Html.PartialAsync("__About")
<!-- About End -->
<!-- Features Start -->
@await Html.PartialAsync("__Features")
<!-- Features Start -->
<!-- Service Start -->
@await Html.PartialAsync("__Middle")

<div id="service">
@await Html.PartialAsync("__Service")
</div>
<!-- Service End -->

<!-- Testimonial Start -->
@await Html.PartialAsync("__Testimonial")
<!-- Testimonial End -->
<!-- Team Start -->
<div id="team">
    @await Html.PartialAsync("__Team")
</div>
<!-- Team End -->
